{
  "rules": {
    "indent": ["error", 2, {"MemberExpression": 1}],
    "valid-jsdoc": "off",
    "semi": [2, "always"],
    "object-curly-spacing": "off"
  },
  "extends": [
    "oclif",
    "oclif-typescript"
  ]
}
